// .menu-home .menu-google{
//     margin-left: 2px;
// }
// .menu-home .menu-google .col-sm-4 .fb :hover{
//     background-color: darkgrey;
//     height: 40px;
//     border-radius: 10px;
//     border-color: brown;
// }
// .menu-home .menu-google .col-sm-3 .mr-auto-1{
//     margin: 2px;
// }
// .menu-home .menu-google .col-sm-3 .mr-auto-1 :hover{
//     margin: 2px;
// }
// .menu-google{
//     background-color: black;
//     height: 40px;
// }
.menu-home .menu-top{
    margin-left: 2px;
}
.menu-top{
    background-color: aqua;
    height: 50px;
}
.menu-home .menu-top .row .menu-top-1 .col-md-2 nav{
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
.form-inline{
    border: 2px;
    padding-top: 5px;
    margin-right:0px;
    padding-left: 199px;
}
.menu-top .menu-top-1 #image-logo{
    height: 50px;
    width: 80px;
    padding-left: 20px;
}
.menu-main{
    padding: 2px;
    align-content: center;
    margin-top: 50px;
    margin-left: 15px;
}
.menu-main-2 .row{
    padding: 1px;
}
.menu-home .menu-end .row .col-md-3 .text-font{
    size: 20px;
}