// .menu-top{
//     margin-left: 2px;
// }
.menu-top{
    // background-color: aqua;
    height: 130px;
    margin-top: 10px;
}
.menu-top .row{
    height: 100px;
}
// .menu-top #row .menu-top-1{
//     height: 50px;
//     background-color: black;
//     padding-left: 20px;
//     margin-top: 60px;
// }
// // .menu-top .row .
// // .form-inline{
// //     border: 2px;
// //     padding-top: 5px;
// //     margin-right:0px;
// //     padding-left: 199px;
// // }
// // .menu-top .menu-top-1 #image-logo{
// //     height: 50px;
// //     width: 80px;
// //     padding-left: 20px;
// // }
// .menu-main{
//     padding: 2px;
//     align-content: center;
//     margin-top: 50px;
//     margin-left: 15px;
// }
// .menu-main-2 .row{
//     padding: 1px;
// }
// .menu-home .menu-end .row .col-md-3 .text-font{
//     size: 20px;
// }