<div class="container">
  <div class="row ">
      <div class="col-sm-8">
        <div class="jumbotron">
            <h5> Thông Tin Khách Hàng Mua Sản Phẩm </h5>
          <hr style="padding-bottom: 20px"/>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputFirstName">Họ</label>
                    <input type="text" class="form-control" #FirstName id="inputFirstName" placeholder="Họ">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputLastName">Tên </label>
                    <input type="text" class="form-control" #LastName id="inputLastName" placeholder="Tên">
                  </div>
                </div>
                <div class="form-group">  
                  <label for="inputEmail">Email </label>
                  <input type="email" class="form-control"  #Email id="inputEmail" placeholder="abc12345@gmail.com">
                </div>
                <div class="form-group">
                  <label for="inputAddress">Địa Chỉ</label>
                  <input type="text" class="form-control" #Address id="inputAddress" placeholder="12 Trịnh Đình Thảo">
                </div>
                
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputCity">Thành Phố</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputDistrict">Quận (Huyện) </label>
                    <select id="inputDistrict " class="form-control">
                      <option selected>Lựa Chọn ...</option>
                      <option> Quận 1</option>
                      <option> Quận 2</option>
                      <option> Quận 3</option>
                      <option> Quận Tân Bình</option>
                      <option> Quận Tân Phú</option>
                      <option> Quận Bình Thạnh</option>
                      <option> Quận Bình Tân</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputPhoneNumber">Số Điện Thoại</label>
                    <input type="text" #Phone class="form-control" id="inputPhoneNumber">
                  </div>
                </div>
                <div class="form-group">
                    <label for="inputFormControlTextarea1"> Ghi Chú </label>
                    <textarea class="form-control" id="inputFormControlTextarea1" rows="3"></textarea>
                </div>

                <h5 class="test" style="margin-top: 70px"> Thông Tin Khách Hàng Mua Sản Phẩm </h5>
            <hr style="margin-bottom: 20px"/>  
            <div class="row form">   
              <div class="form-row col-md-6">
                <div class="form-group form-check" style="padding-top: 20px">
                  <input type="radio" class="form-check-input" id="exampleRadios1" name="exampleRadios" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false">
                  <label class="form-check-label" for="exampleRadios1">Thanh Toán Khi Nhận Hàng <img src="assets/img/money.jpg" width="35" /> </label>
                </div>
                <div class="form-group form-check">
                  <input type="radio" class="form-check-input" id="exampleRadios1" name="exampleRadios" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false">
                  <label class="form-check-label" for="exampleRadios1">Thanh Toán Bằng Thẻ Visa <img src="assets/img/visa.png" width="40" /> </label>
                </div>
                <div class="form-group form-check" >
                  <input type="radio" class="form-check-input" id="exampleRadios1" name="exampleRadios" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false">
                  <label class="form-check-label" for="exampleRadios1">Thanh Toán Trên Ứng Dụng Momo <img src="assets/img/momo.png" width="30" /> </label>
                </div>
                <div class="form-group" style="padding-bottom: 300px" >
                  <label for="inputThanhToan"> Thanh Toán Bằng : (Tiền Mặt, Visa, App Momo) </label>
                  <input type="text" #Pay1 class="form-control" id="inputPay">
                </div>
              </div> 
              <div class="form-row col-md-6" id="accordionExample"> 
                  <div class="collapse" id="collapseExample" data-parent="#accordionExample">
                      <div class="card card-body" style="background-color: lightsteelblue">
                        <h6> Giao Hàng Đến Địa chỉ này :</h6>
                        <hr/>
                        <div class="form-group">
                          <label for="inputAddress">Địa Chỉ</label>
                          <input type="text" class="form-control delivery" id="inputAddress" placeholder="12 Trịnh Đình Thảo">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">Thành Phố</label>
                            <input type="text" class="form-control delivery" id="inputCity01" placeholder="TP.HCM">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputDistrict1">Quận (Huyện) </label>
                            <select id="inputDistrict1" class="form-control delivery">
                              <option selected>Lựa Chọn ...</option>
                              <option> Quận 1</option>
                              <option> Quận 2</option>
                              <option> Quận 3</option>
                              <option> Quận Tân Bình</option>
                              <option> Quận Tân Phú</option>
                              <option> Quận Bình Thạnh</option>
                              <option> Quận Bình Tân</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample1" data-parent="#accordionExample">
                        <div class="card card-body" style="background-color: lightsteelblue">
                          <h6> Thông Tin Thẻ Visa Khách Hàng :</h6>
                          <hr/>
                          <div class="form-group">
                            <label for="inputNumberCard">Số Thẻ </label>
                            <input type="text" class="form-control delivery" id="inputNumberCard" >
                          </div>
                          <label for="inputDayout"> Ngày Hết Hạn </label>
                          <div class="form-row">
                            <div class="form-group col-md-5">
                                <select id="inputMonth" class="form-control">
                                  <option> 01 </option>
                                  <option> 02</option>
                                  <option> 03 </option>
                                  <option> 04 </option>
                                  <option> 05 </option>
                                  <option> 06 </option>
                                  <option> 07 </option>
                                  <option> 08 </option>
                                  <option> 09 </option>
                                  <option> 10 </option>
                                  <option> 11 </option>
                                  <option> 12 </option>
                                </select>
                            </div>
                            <a class="form-group col-md-2" style="padding-left: 15px"> / </a>
                            <div class="form-group col-md-5">
                              <select id="inputYear" class="form-control">
                                <option> 20 </option>
                                <option> 21 </option>
                                <option> 22 </option>
                                <option> 23 </option>
                                <option> 24 </option>
                                <option> 25 </option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                              <label for="inputNameCard">Tên In Trên Thẻ </label>
                              <input type="text" class="form-control delivery" id="inputNameCard" >
                            </div>
                            <div class="form-group">
                                <label for="inputCVVCard">Số CVV </label>
                                <input type="text" class="form-control delivery" id="inputCVVCard">
                              </div>
                        </div>
                      </div>
                    <div class="collapse" id="collapseExample2" data-parent="#accordionExample">
                        <div class="card card-body" style="background-color: lightsteelblue">
                            <h6> QUét Mã Code Momo :</h6>
                            <hr/>
                            <div class="form-group">
                                <img src="assets/img/MaCode.jpg" style="display: block; margin-left: auto; margin-right: auto" />
                              </div>
                              <div class="form-group">
                                  <label style="text-align: center; display: inline-block"> Sử Dụng App Momo để quét mã </label>
                                  <label style="text-align: center; display: inline-block"> Hoặc Camera hỗ trợ QR để quét mã </label>
                                </div>
                        </div>
                      </div>
              </div>
            </div>
        </div>
          
      </div>
      <div class="col-sm-4">
        <div class="jumbotron">
              <h5> Đơn Hàng </h5>
              <hr/> 
              <div class="row" *ngFor="let p of giohang"> 
                  <div class="col-md-9"> 
                      <a > {{p.cartquality}} x {{p.cartBookname}}</a>
                  </div>
                  <div class="col-md-3"> 
                      <a> {{p.cartPrice*p.cartquality}}.đ </a>
                  </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-8">
                  <h5> Tổng Cộng : </h5>
                </div>
                <div class="col-md-4">
                  <h5 [ngModel]="addpayPrice(total)"> {{total}}.đ </h5>
                </div>
              </div>
              <div class="row" > 
                  <button type="button" class="btn btn-primary" style="margin-left: 200px" data-toggle="modal" data-target="#exampleModal" (click)="addpay(FirstName.value, LastName.value, Address.value, Email.value, Pay1.value, Phone.value)" > Đặt Hàng </button> 
              </div>
        </div>
        
      </div>
    </div>

  </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Hoàn Tất</h5>
      </div>
      <div class="modal-body">
        <h5> Bạn Đã Đặt Hàng Thành Công. </h5> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" routerLink="/trangchu" (click)="remove(1)" >Trở Về Trang Chủ</button>
      </div>
    </div>
  </div>
</div>
