<div class="nav justify-content-center nav-pills">
  <div class="row" role="tablist">
    <div class="nav-tabs">
      <div class="col">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/user/login" routerLinkActive='active'>Sign-in</a>
        </li>
      </div>
      <div class="col">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/user/sign-up" routerLinkActive='active'>Sign-up</a>
        </li>
      </div>
    </div>
  </div><br>

  <router-outlet></router-outlet>
</div>